<nav class="navigation--container">
  <div class="navigation--div-container">
    <span class="navigation--text" id="navigation--name">Thalía Lizeth</span>

    <div class="navigation--pages">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="navigation--current"{% endif %}>
          {{ item.name }}
        </a>
      {% endfor %}
    </div>

    <a href="" class="navigation--my-portfolio navigation--download">
      <img src="../../assets/images/arrow_down.png" alt="arrow-down">
      <span>My portfolio</span>
    </a>

    <a href="" class="navigation--resume navigation--download">
      <img src="../../assets/images/arrow_down.png" alt="arrow-down">
      <span>Resume</span>
    </a>
  </div>
</nav>
