.about--container {
  width: 100%;
  display: flex;
  margin-top: 149px;

  .about--left-container {
    position: fixed;
    width: 514px;
    margin-left: 107px;

    .about--left-image {
      width: 514px;
      height: 321px;
    }

    .about--left-image-text {
      margin-top: 8px;
      width: 339px;
      color: var(--venice-blue);
      font-size: 14px;
      line-height: 147.5%;
      letter-spacing: 0.4px;
    }
  }

  .about--right-container {
    width: 50%;
    margin-left: 855px;
    right: 0;
    height: 100%;
    margin-bottom: 91px;

    .about--right-subcontainer {
      width: 382px;
    }

    .about--right-title {
      color: var(--venice-blue);
      font-size: 24px;
      font-weight: 600;
      line-height: 31px;
    }

    p {
      font-size: 18px;
      line-height: 160%;
    }
  }
}
