:root {
  --black-white: #FFFEF4;
  --burnt-sienna: #E76B52;
  --mine-shaft: #2D2D2D;
  --rajah: #F7CC75;
  --tuscany: #CA4E2F;
  --venice-blue: #07589D;
}

html {
  height: 100%
}

body {
  background-color: var(--black-white);
  margin: 0;
  position: relative;
  min-height: 100%;
  font-family: nunito;

  .side-and-content-container {
    display: flex;
  }
}

@font-face {
  font-family: nunito;
  src: url("../fonts/Nunito/Nunito-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: nunito;
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: lora;
  src: url("../fonts/Lora-Regular.ttf");
}
