:root {
  --black-white: #FFFEF4;
  --burnt-sienna: #E76B52;
  --mine-shaft: #2D2D2D;
  --rajah: #F7CC75;
  --tuscany: #CA4E2F;
  --venice-blue: #07589D;
}

html {
  height: 100%
}

body {
  background-color: var(--black-white);
  margin: 0;
  position: relative;
  min-height: 100%;

  .side-and-content-container {
    display: flex;
  }
}
