.navigation--container {
  color: var(--venice-blue);
  width: 100%;
  position: fixed;
  background-color: var(--black-white);
  overflow: hidden;
  top: 0;

  .navigation--div-container {
    margin: 26px 100px;
    display: flex;
    align-items: center;

    #navigation--name {
      padding-right: 600px;
    }

    a {
      height: 34px;
      width: 131px;
      color: var(--venice-blue);
      text-decoration: none;

      border: 1px solid var(--venice-blue);
      border-radius: 15px;

      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 16px;
    }

    a:visited {
      text-decoration: none;
    }

    .navigation--resume {
      height: 20px;
      width: 96px;
      display: flex;

      img {
        height: 16px;
        width: 16px;
        margin: 2px 8px;
      }
      span {
        height: 100%;
        width: 56px;
        font-size: 15px;
        margin: 2px 8px 2px 0px;
      }
    }
  }

  a.navigation--current {
    background-color: var(--rajah);
    border: none;
  }
}
